@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
  }

.nav-active {
  border-right: 2px solid #105a7E;
  width: 175px;
  display: block;
  color: #105a7E;
  height: 25px;
  font-size: 17px;
  font-weight: 600;
  /* Sky Blue color */
}
.gobeze-primary{
  color:#FF7F00
}
.gobeze-secondary{
  color:#0A122D
}
.gobeze-secondary-light{
  color: rgb(123, 128, 154);
}